* {
    box-sizing: border-box;
  }
body{
  font-family: 'Spline Sans Mono', monospace;
    background-color: rgb(247, 247, 246);
    padding: 10px;
}
:root{
    --rosita:#cf9e8b;
    --naval:#162336;
    --moradado1:#162336;
    --morado2:#7279ae;
    --rosa:#795b5f;
    --morado3:#394360;
    --terracota:#a33213;
    --gris1:#929dad;
    --gris2:#536472;
    --letter:#08090d;
  }
.header{
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 200px;
}
.img1{    
  width: 100%;
  height: 200px;}
h1{
    font-size: 58px;
    text-align: center;
    font-family: 'Spline Sans Mono', monospace;
}
h2{
    font-size: 42px;
    text-align: center;
    font-family: 'Spline Sans Mono', monospace;
}
h3{
    font-size: 38px;
    text-align: center;
    font-family: 'Spline Sans Mono', monospace;
}
p{
    font-size: 20px;
    padding: 10px;
}
.column{
  margin: 10px  10px 10px 10px ;
    border-radius: 0%;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;

}

.texto{
    background-color: var(--terracota);
    max-width: 100%;
    padding: 20px;
}

.column img{

  width: 96%;
  height: 100%;
 display: flex;
 margin: 5px  5px 5px 5px ;
 

}


.contenedor_left{

    align-items: center;
    justify-content: left;
    float: left;
    width: 48%;
    margin: 20px  10px 10px 10px ;
    height: 50%;
    display: flex;
    flex-direction: column;

   
    border-radius: 0%;
  
}
.contenedor_right  {
  float: left;
  margin: 20px  0px 10px 10px ;
  width: 48%;
  height: 100%;
 display: flex;
  flex-direction: column;

  
  border-radius: 0%;

}

 .footer {
    width: 100%;
    height: 20%;
    padding: 1px;
    
    background: #ddd;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .footer_left{
    flex-direction: column;
    padding: 0 0 0 20px ;
    text-align: center; 

    width: 75%;
  }
  .footer_rigt{
    align-items: flex-end;
    justify-content: flex-end;
    width: 25%;


  }

  
  .git{


    margin-right: 12px;
    width: 70px;
    height: 70px;
  }
  
  .neocities{


    margin-left: 12px;
    width: 70px;
    height: 70px;
  }