body{
/* fondo */


position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: 0px;

background: url(images/samantha-gades-BlIhVfXbi9s-unsplash.jpg);
background-size: cover ;
background-repeat: no-repeat;

}
header{
/* encabezado */
position: absolute;
width: 1369px;
height: 300px;
left: 60px;
top: 12px;

}

.fondotexto1 {
    /* fondoTexto1 */




position: absolute;
width: 1000px;
height: 200px;
left: 60px;
top: 69px;

background: rgba(255, 255, 255, 0.54);
border-radius: 20px;
}
.fotografia{
    /* fotografia */
  

position: absolute;
width: 300px;
height: 300px;
left: 1129px;
top: 27px;


background: url(/images/fotografia2.png);
border-radius: 1000px;

}

.contenido{
    /* contenido */


    position: absolute;
    width: 1317px;
    height: 500px;
    left: 60px;
    top: 340px;
}
.tarjetatalleres{

/* Rectangle 1 */

box-shadow: inset 5px 5px 20px 5px #f70f0f;
position: absolute;
width: 400px;
height: 500px;
left: 60px;
top: 0px;

background: rgba(255, 255, 255, 0.54);
border-radius: 25px;


}
.tarjetaconsultas{
    /* Rectangle 1 */

box-shadow: inset 5px 5px 20px 5px #f70f0f;
position: absolute;
width: 400px;
height: 500px;
left: 520px;
top: 0px;

background: rgba(255, 255, 255, 0.54);
border-radius: 25px;
}

.tarjetaretos{
    /* Rectangle 1 */


position: absolute;
width: 400px;
height: 500px;
left: 977px;
top: 0px;

background: rgba(255, 255, 255, 0.54);
border-radius: 25px;
}


.piedepagina{/* Rectangle 2 */


    position: absolute;
    width: 1317px;
    height: 96px;
    left: 60px;
    top: 890px;
    
    background: rgba(255, 255, 255, 0.54);
    border-radius: 20px;}
.icon1{/* Vector */


    position: absolute;
    left: 88.96%;
    right: 6.87%;
    top: 20px;
    bottom: 4.98%;
    
    background: #000000;}

    .icon2{/* Vector */


        position: absolute;
        left: 81.94%;
        right: 13.26%;
        top: 20px;
        bottom: 4.6%;
        
        background: #4C4C4B;}
